#nprogress .bar {
  background: rgb(var(--v-theme-progress-color)) !important;
  height: 4px !important;
}

#nprogress .spinner-icon {
  border-top-color: rgb(var(--v-theme-progress-color)) !important;
  border-left-color: rgb(var(--v-theme-progress-color)) !important;
}
